@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Fredoka:wght@300..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Noto+Sans+TC:wght@100..900&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  @apply bg-neutral-800 text-neutral-300 p-0 m-0;
}
pre {
  @apply bg-neutral-700;
}
@layer base {
  ::-webkit-scrollbar {
    width: 10px;
    height: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #f5961d;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
